<body id="signup">
  <%= devise_error_messages! %>
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h2>Sign Up</h2>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
            <%= f.label :email, 'Email Address', class: 'sr-only' %>
            <%= f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: 'Email Address' %>
            <br>
            <%= f.label :username, 'Username', class: 'sr-only' %>
            <%= f.text_field :username, autofocus: true, class: 'form-control input-lg', placeholder: 'Username' %>
            <br>
            <%= f.label :password, 'Password', class: 'sr-only' %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Password (8 characters min)' %>
            <br>
            <%= f.label :password_confirmation, 'Password Confirmation', class: 'sr-only' %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Password Confirmation' %>
            <br>
            <p align = "right"><%= render "devise/shared/links" %></p>
            <hr>
            <%= f.submit "Sign me up!", class: 'btn btn-lg btn-primary btn-block' %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>
</body>
