<!DOCTYPE html>
<html>
<head>
  <link href='/app/assets/stylesheets/chosen.css' rel='stylesheet' type='text/css'>
  <script src='/app/assets/javascripts/chosen.jquery.min.js'></script>
</head>
<body>

<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :members %><br>
    <%= f.select "members", options_from_collection_for_select(@friends, "username", "username"), {}, { class: 'chosen-select', multiple:true} %>
  </div>
 
  <!--<select style="width:550px" multiple class="chosen-select" name="post[members]">
    <% for friend in @friends %>
      <option><%= friend.username %></option>
    <% end %>
  </select>-->

  <br/><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"},
      'max_selected_options'     : 5
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
</body>
</html>
