<%= form_for(@group) do |f| %>
    <%= f.label :title, 'Title', class: 'sr-only' %>
    <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: "Title" %>
<br>
    <%= f.label :description, 'Description', class: 'sr-only'%>
    <%= f.text_area :description, autofocus: true, class: 'form-control', placeholder: "Description" %>
<br>
    <%= f.label :members, 'Members', class: 'sr-only' %>
    <%= f.select :members, options_for_select(
    @friends,
    @groupmembers.map {|gm| gm.username}), {}, { :data => { :placeholder => "Friends you'd like to be in this group" },class: 'chosen-select', multiple:true, :style => "min-width: 300px;"}%>
<br>
<br>
<br>
<div class="row" style="text-align:center;">
  <div class="col-xs-2" style="display:inline-block; float:none; text-align:left; margin-right:-4px;">
    <%= f.submit "Done", class: "btn btn-primary btn-block"%>
  </div>
  <div class="col-xs-2" style="display:inline-block; float:none; text-align:left; margin-right:-4px;">
    <a href="javascript:history.back()" class="btn btn-primary btn-block" role="button">Back</a>
  </div>
</div>
<% end %>
<script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      'max_selected_options'     : 5
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
</script>