<p id="notice"><%= notice %></p>

<div style="float:right">
	<%= link_to 'Edit', edit_group_path(@group) %> | 
  <%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Users in this group:</strong>
  <% @users.each_with_index do |user, index| %>
  		<%= user.username%>
  		<% if index != @users.size - 1 %>
  			<%= ',' %>
  		<% end %>
  <%end%>
</p>

<div id="calendar">
  </div>
