<p id="notice"><%= notice %></p>



<div class="row">
  <div class="col-md-6">
<div class="groupName" style="text-align: center; color: #9094da; height: 40px; font-family: 'Bitter'">
  <span><%= @group.title %></span>
</div>
<p style="text-align: center">
  <i><%= @group.description %></i>
</p>
</div>

<script>
  ;(function($) {
    $.fn.textfill = function(options) {
      var fontSize = options.maxFontPixels;
      var ourText = $('span:visible:first', this);
      var maxHeight = $(this).height();
      var maxWidth = $(this).width();
      var textHeight;
      var textWidth;
      do {
        ourText.css('font-size', fontSize);
        textHeight = ourText.height();
        textWidth = ourText.width();
        fontSize = fontSize - 1;
      } while ((textHeight > maxHeight || textWidth > maxWidth) && fontSize > 3);
      return this;
    }
  })(jQuery);
  $('.groupName').textfill({ maxFontPixels: 100 });
</script>

<div class="col-md-6" style="padding-top: 5px;">
<p style="text-align: center">
  <strong>Users in this group:</strong>
  <% @users.each_with_index do |user, index| %>
  <%= user.username %>
  <% if index != @users.size - 1 %>
  <%=','%>
  <% end %>
  <%end%>
  <br>

  <div class="row" style="text-align:center;">
    <div class="col-xs-3" style="display:inline-block; float:none; text-align:left; margin-right:-4px;">
        <%= link_to 'Edit', edit_group_path(@group), :class=>"btn btn-xs btn-primary btn-block eventBtn" %>
    </div>
    <div class="col-xs-3" style="display:inline-block; float:none; text-align:left; margin-right:-4px;">
        <%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-xs btn-primary btn-block eventBtn" %>
    </div>
        <div class="col-xs-3" style="display:inline-block; float:none; text-align:left; margin-right:-4px;">
        <%= link_to 'Leave', @group, data: { confirm: 'Sorry, you can never leave; at least not yet..' }, :class=>"btn btn-xs btn-primary btn-block eventBtn" %>
    </div>
  </div>
  <br>
</p>
</div>
</div>

<div id="g_calendar">
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="eventTitle" style="font-weight: 900"></h4>
      </div>
      <div class="modal-body">
        <p id="eventDescription"></p>
        <p id="eventStartTime"></p>
        <p id="eventEndTime"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
  var events = <%= raw @events.to_json %>
  var users = <%= raw @group.users.to_json %>
  var curUserId = <%= raw current_user.id %>
</script>
