<body id="forgotpwd">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Forgot your password?</h2>
          </div>
          <div class="panel-body">
            <%= devise_error_messages! %>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
            <%= f.label :email, 'Email Address', class: 'sr-only' %>
            <%= f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: 'Email Address' %>
            <br>
            <p align = "right"><%= render "devise/shared/links" %></p>
            <hr>
            <%= f.submit "Send me reset instructions", class: 'btn btn-lg btn-primary btn-block' %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>
</body>